hgroup h1{
    border-bottom: 2px grey solid;
}
figure{
    position:absolute;
    top: 1px;
    right: 15rem;
    transform: rotate(-15deg);  
}
body{
    margin: 0;
    padding: 0;
    
}
div[id="#wrapper"]{
margin: 0 12em 0 12em;
}
#about{
    opacity: 50%;
}
#about p {
width: 70%;
}
#about h3,
hgroup h2,
#contact h3,
.experience .experience-institution,
.contact.contact-skype,
dt,
a
{
    display: none;
}

#competencies{
height: 12vh;
margin-top: 60px;
grid-area: a; 
display: grid;
grid-template-columns: auto 1fr;
grid-template-areas: "a b" 
                     "a c";
}
#competencies .skills.skills-primary{
grid-area: b;
display: flex;
border-left:1px solid rgb(53, 49, 47)l;
padding-left: 10px;
gap:5px;
padding-bottom:5px;
}
#competencies .skills.skills-secondary{
    grid-area: c;
    display: flex;
    border-left:1px solid rgb(53, 49, 47);
    gap:5px;
    padding-bottom:5px;
    padding-left: 10px;
    }
.skill span{
    background-color: rgb(64 ,124, 107);   
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 150px;
    padding: 15px;  
    color: white;
} 
#competencies .skills-primary .skill[data-skill="5"] span::after{
    content:"★★★";
    color: white;
}
#competencies .skills-primary .skill[data-skill="3"] span::after{
    content:"★★";
    color: white;
}
#competencies .skills-primary .skill[data-skill="1"] span::after{
    content:"★";
    color: white;
}
#competencies .skills-secondary .skill[data-skill="9"] span::after{
    content:"★★★★★";
    color: white;
}
#competencies .skills-secondary .skill[data-skill="5"] span::after{
    content:"★★★";
    color: white;
}
#competencies .skills-secondary .skill[data-skill="7"] span::after{
    content:"★★★★★";
    color: white;
}
#experiences, #education{
    display: grid;
    grid-template-columns: auto 1fr;
    margin-top:3em;
    grid-template-areas: "d e" 
                         "d e";
                         
}
#experiences h3 ,#education h3 {
    grid-area: d;
}
.experience{
    /* grid-area: e; * taken by default*/
    margin-left: 14px;
    padding-left: 10px;
    display: grid;
    border-left:1px solid rgb(53, 49, 47) ;
    grid-template-areas: "f g"
                         "f g" ;
                         
}
#education h3 {
    padding-right: 10px;
}
#hobbies {
    display: grid;
    grid-template-columns: auto 1fr;
}
#hobbies ul{
    border-left:1px solid rgb(53, 49, 47) ; 
    padding-left: 30px;
    margin-left: 40px;
}
#contact .contacts .contact-email  {
    background-image: url('/public/images/email.png');
    width:120px;
    height:70px; 
    background-size: contain;
    background-repeat: no-repeat;
    text-indent: -9999px;
    display: flex;
    }
#contact .contacts .contact-phone {
    
    background-image: url('/public/images/phone.png');
    width:120px;
    height:70px; 
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;

    }
#contact .contacts .contact-github {
    background-image: url('/public/images/github.png');
    width:120px;
    height:70px; 
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;
  

    }
#contact .contacts .contact-facebook {
    background-image: url('/public/images/facebook.png');
    width:120px;
    height:70px; 
    background-size: contain;
    background-repeat: no-repeat;
    display: flex;

    }
.contacts {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

